/* shading for items */
.item:before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.015);
}

/* the "expand" chevron icon */
.toggle-button > span > svg {
    transition: transform 0.2s ease-out;
}

.toggle-button--flipped > span > svg {
    transform: rotate(180deg);
}
