
/* the "expand" chevron icon */
.toggle-button > span > svg {
    transition: transform 0.2s ease-out;
}

.toggle-button--flipped > span > svg {
    transform: rotate(180deg);
}

/* irellevant testing */
/* @font-face {
    font-family: Roboto;
    src: url(googleAPIs.com/whatever);
}
p{
    background-color: aliceblue;
    overflow: hidden;
    text-indent: -10px;
} */
